.app-main__outer {
	position: relative;
    max-width: 1120px;
    width: 100%;
}

.app-container {
	justify-content: center;
	align-items: center;
}

.app-wrapper-footer {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-footer {
	width: 100%;
	max-width: 1120px;
}